/* Main body and root variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(black, black, 90%, darkblue);
}

:root {
  --primary-color: rgb(167, 249, 2);
  --text-bg-color: rgb(31, 30, 30);
  --modal-bg: rgba(0, 0, 0, 0.8);
  --hover-color: rgb(255, 165, 0);
  --main-font: 'Orbitron', sans-serif;
}

/* Main page, menu and start buttons */

.menu-buttons {
  display: flex;
  justify-content: center;
}

.menu {
  margin: 30px 15px 30px 15px;
  color: var(--primary-color);
  background-color: var(--text-bg-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--primary-color);
  font-family: var(--main-font);
  font-size: 100%;
  padding: 10px;
}

.title {
  color: var(--primary-color);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 400%;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 100px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enter-button {
  color: var(--primary-color);
  background-color: var(--text-bg-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--primary-color);
  font-family: var(--main-font);
  font-size: 200%;
  min-width: fit-content;
  padding: 20px;
}

/* Footer */

.footer {
  font-family: var(--main-font);
  font-weight: 100;
  color: var(--primary-color);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 20px;
  text-align: center;
}