/* Main body and root variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(black, black, 90%, darkblue);
}

:root {
  --primary-color: rgb(167, 249, 2);
  --text-bg-color: rgb(31, 30, 30);
  --modal-bg: rgba(0, 0, 0, 0.8);
  --hover-color: rgb(255, 165, 0);
  --main-font: 'Orbitron', sans-serif;
}

/* Main page title, menu and start buttons */

.menu-buttons {
  display: flex;
  justify-content: center;
}

.menu {
  margin: 30px 15px 30px 15px;
  color: var(--primary-color);
  background-color: var(--text-bg-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--primary-color);
  font-family: var(--main-font);
  font-size: 100%;
  padding: 10px;
}

.menu:hover {
  color: var(--hover-color);
  box-shadow: 0 0 10px var(--hover-color);
  transition: all 0.5s ease-in-out;
}

.title {
  color: var(--primary-color);
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 400%;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 100px;
}

.enter-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enter-button {
  color: var(--primary-color);
  background-color: var(--text-bg-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--primary-color);
  font-family: var(--main-font);
  font-size: 200%;
  min-width: fit-content;
  padding: 20px;
}

.enter-button:hover {
  color: var(--hover-color);
  box-shadow: 0 0 10px var(--hover-color);
  transition: all 0.5s ease-in-out;
}

/* Footer */

.footer {
  font-family: var(--main-font);
  font-weight: 100;
  color: var(--primary-color);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 20px;
  text-align: center;
}

.footer a,
.footer a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

.footer a:hover,
.footer a:active {
  color: var(--hover-color);
  text-decoration: none;
}

/* Modals */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--modal-bg);
}

.content {
  background-color: var(--text-bg-color);
  color: var(--primary-color);
  font-family: var(--main-font);
  margin: 15% auto;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--primary-color);
  width: 50%;
}

.content li {
  list-style: none;
}

.content #friendly {
  color: var(--hover-color);
}

.close {
  color: var(--primary-color);
  float: right;
  font-size: 150%;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--hover-color);
  text-decoration: none;
  cursor: pointer;
}

.radio {
  margin: 10px;
  accent-color: var(--hover-color);
}

input[type=radio]:checked+label {
  color: var(--hover-color);
  font-weight: bold;
}

/* Media queries */

@media only screen and (max-width: 900px) {
  .content {
    width: 95%;
  }
}

/* Enter game flicker animation */

#flicker {
  animation: letter-flicker 3s linear infinite;
}

@keyframes letter-flicker {
  0% {
    opacity:0.5;
    text-shadow: 0px 0px 9px var(--primary-color);
  }
  2% {
    opacity:1;
    text-shadow: 0px 0px 9px var(--primary-color);
  }
  4% {
    opacity:0.1;
    text-shadow: 0px 0px 9px var(--primary-color);
  }
  19% {
    opacity:0.9;
    text-shadow: 0px 0px 9px var(--primary-color);
  }
  83% {
    opacity:0.9;
    text-shadow: 0px 0px 9px var(--primary-color);
  }
  87% {
    opacity:0.3;
    text-shadow: 0px 0px 9px var(--primary-color);
  }
  96% {
    opacity:1;
    text-shadow: 0px 0px 9px var(--primary-color);
  }
  98% {
    opacity:0.2;
    text-shadow: 0px 0px 9px var(--primary-color);
  }
}

